/*** Reset ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-header {
  width: 8%;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*** Fonte ***/
@font-face {
  font-family: "MADE Kenfolg";
  src: url("fonts/MADE\ Kenfolg\ PERSONAL\ USE.otf") format("woff2");
}

/*** Variabler – farver ***/
html {
  --sort: #ae6159;
  --sand: #fbfbf1;
  --sand_t: #e4d9c7bb;
  --hover: #8d867b;
  --header: #ae61596b;
}

/*** Overskrifter ***/
th {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
}
td {
  color: var(--sand);
  font-family: "EB Garamond", serif;
  padding-bottom: 0.8rem;
}
h1 {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
}
h2 {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
}
h3 {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
}
h4 {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
}
p {
  color: var(--sand);
  font-family: "EB Garamond", serif;
  padding-bottom: 0.8rem;
  max-width: 65ch;
}

dd {
  color: var(--sand);
  font-family: "EB Garamond", serif;
}

dt {
  color: var(--sand);
  font-family: "EB Garamond", serif;
}

ul {
  color: var(--sand);
  list-style: none;
  line-height: 1.5rem;
  padding-bottom: 0.8rem;
}

.btn {
  transition: all 0.4s;
  background-color: var(--sand);
  border-radius: 0.2rem;
  padding: 0.7rem 1.2rem;
  color: var(--sort);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  font-family: "EB Garamond", serif;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.1);
}

.h_knap {
  border-radius: 0.2rem;
  border: solid 1px;
  padding: 0.5rem;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  width: 100%;
  margin-inline: 2rem;
  color: var(--sand);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  font-family: "EB Garamond", serif;
  font-weight: 600;
}

.h_knap:hover {
  background-color: var(--sort);
  color: var(--sand);
  transition: 0.5s;
}

a {
  text-decoration: none;
}
