body {
  background-image: url(frankskro_billeder/IMG_5694.JPG);
  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--sort);
  margin-bottom: 5rem;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--sort);
  margin-bottom: 5rem;
}

/*** Form ***/
.form {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  background-color: var(--sand_t);
  border: 1px solid var(--sand);
  border-radius: 0.1rem;
  margin-inline: 1rem;
  margin-block: 2.5rem;
  padding: 0.3rem;
  font-family: "EB Garamond", serif;
  color: var(--sort);
  width: 15rem;
}

button {
  background-color: var(--sand_t);
  border: 2.5px solid var(--sand);
  border-radius: 0.1rem;
  margin-inline: 1rem;
  margin-block: 2.5rem;
  padding: 0.3rem;
  font-family: "MADE Kenfolg";
  color: var(--sort);
}

button:hover {
  color: var(--hover);
}
