body {
  background-image: url(frankskro_billeder/IMG_5694.JPG);
  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  margin-block: 3rem;
  margin-inline: 1.5rem;
  max-width: 65ch;
}

h1 {
  margin-inline: 1.5rem;
}

.knap {
  margin-inline: 1.5rem;
}

.grid_1-2 {
  background-color: var(--sort);
  margin-bottom: 5rem;
  padding-bottom: 4rem;
}

.grid_2-1 {
  background-color: var(--sort);
  margin-bottom: 5rem;
  padding-bottom: 4rem;
}

.kromad {
  place-self: center start;
}
.selskaber {
  place-self: center start;
}

/*** HERO-section ***/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  position: relative;
}

.lottie {
  width: 100%;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: auto;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

@media (min-aspect-ration: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ration: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

/*** Mobilsite ***/
@media (max-width: 750px) {
  form {
    display: grid;
    place-items: center;
  }
  input {
    margin-block: 0.8rem;
  }
  button {
    margin-block: 0.8rem;
  }
  .grid_1-2 .grid_2-1 {
    padding-bottom: 4rem;
  }
}

/*** Decktop ***/
@media (min-width: 750px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5rem;
    padding-bottom: 0rem;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 5rem;
    padding-bottom: 0rem;
  }

  input {
    margin-block: 2.5rem;
  }
  .order {
    order: 1;
  }

  .kromad {
    padding: 2rem;
  }
  .selskaber {
    padding: 2rem;
  }
}

/*** Stor decktop ***/
@media (min-width: 1200px) {
  .space {
    margin-inline: 6rem;
  }
}

/*** Form ***/
.form {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  background-color: var(--sand_t);
  border: 1px solid var(--sand);
  border-radius: 0.1rem;
  margin-inline: 1rem;
  padding: 0.3rem;
  font-family: "EB Garamond", serif;
  color: var(--sort);
  width: 15rem;
}

button {
  background-color: var(--sand_t);
  border: 2.5px solid var(--sand);
  border-radius: 0.1rem;
  margin-inline: 1rem;
  padding: 0.3rem;
  font-family: "MADE Kenfolg";
  color: var(--sort);
}

button:hover {
  color: var(--hover);
}
