body {
  background-image: url(img/361619038_237004179276480_4396790369893044292_n.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  background-color: #ae61596b;
}
.menu a {
  color: var(--sand);
}

p {
  margin-inline: 1.5rem;
}
h1 {
  margin-inline: 1.5rem;
}
h2 {
  margin-inline: 1.5rem;
}
h3 {
  margin-inline: 1.5rem;
}
ul {
  margin-inline: 1.5rem;
}

iframe {
  width: 80%;
  height: 400px;
}
.maps {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  filter: grayscale(100%) brightness(75%) contrast(120%);
}

/*** Decktop ***/
@media (max-width: 750px) {
  .fjern {
    display: none;
  }
  .kromad {
    place-self: center start;
    background-color: var(--sort);
  }
  .selskaber {
    place-self: center start;
    background-color: var(--sort);
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  h1 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

/*** Decktop ***/
@media (min-width: 750px) {
  .grid_1-1_1-1 {
    display: grid;
    margin-top: 3.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .kromad {
    background-color: #ae6159;
  }
  .selskaber {
    background-color: #ae6159;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  p {
    line-height: 150%;
    font-size: 16px;
  }
}
