body {
  background-image: url(img/Skærmbillede\ 2024-05-22\ kl.\ 10.54.25.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--sort);
  margin-bottom: 5rem;
}

.grid_2-5 {
  display: grid;
  grid-template-columns: 3fr 5fr;
  background-color: var(--sort);
  margin-bottom: 5rem;
}
