html {
  scroll-behavior: smooth;
}
body {
  background-image: url(img/442411074_17915494874924247_3342100428452807983_n.jpg);

  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  background-color: #ae61596b;
}
.menu a {
  color: var(--sand);
}

/* menu css */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
  padding: 8px;
  border-bottom: solid 0.05rem;
  font-size: 10px;
}
td {
  text-align: left;
  padding: 8px;
  font-size: 9px;
}
.mad_grid {
  background-color: var(--sort);
  border-radius: 0.2rem;
  padding: 20px 30px 20px 30px;
  text-align: center;
  margin: 1rem;
}
.drikke_tekst {
  text-align: left;
  color: var(--sand);
  margin-top: 6rem;
  font-size: 9px;
}
.drikke_grid {
  background-color: var(--sand);
  border-radius: 0.2rem;
  padding: 20px 30px 20px 30px;
  text-align: center;
  margin-top: 5rem;
  margin: 1rem;
}
.sommerpakken_grid {
  background-color: var(--sort);
  border-radius: 0.2rem;
  padding: 20px 30px 20px 30px;
  text-align: center;
  margin-top: 5rem;
  margin: 1rem;
}
h1 {
  color: var(--sand);
  padding-top: 1rem;
  font-family: "MADE Kenfolg";
  font-size: 20px;
}
h3 {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  color: var(--sand);
}

/* ////////Desktop//////// */
@media (min-width: 750px) {
  /* MENU CSS */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    text-align: left;
    border-bottom: solid 0.05rem;
    font-size: 14px;
    line-height: 2rem;
  }
  td {
    text-align: left;
    font-size: 12px;
  }

  h3 {
    line-height: 2rem;
    font-size: 0.9rem;
  }

  .mad_grid {
    background-color: var(--sort);
    border-radius: 0.2rem;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin: 14rem;
    color: var(--sand);
    margin-top: -10rem;
  }
  .drikke_tekst {
    text-align: left;
    color: var(--sand);
    margin-top: 6rem;
  }
  .drikke_grid {
    background-color: var(--sort);
    border-radius: 0.2rem;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin-top: 1rem;
    margin: 14rem;
    color: var(--sand);
    margin-top: -10rem;
  }

  .sommerpakken_grid {
    background-color: var(--sort);
    border-radius: 0.2rem;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin-top: 1rem;
    margin: 14rem;
    color: var(--sand);
    margin-top: 3rem;
  }

  .mad_tekst {
    text-align: left;
    color: var(--sand);
    margin-top: 6rem;
  }
}
