body {
  background-image: url(img/419735619_17902541279924247_3598807652102186383_n.jpg);
  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: beige;
}

p {
  color: beige;
}

.selskaber {
  background-color: var(--sort);
}

.selskaber_styling {
  background-color: var(--sort);
  line-height: 1.5;
}

.festfk {
  background-color: var(--sort);
}

.festfk_styling {
  background-color: var(--sort);
  line-height: 1.5;
}

.udfyld_formel {
  background-color: var(--transparent);
  width: 70%;
  margin: 10px 10px 10px 10px;
  padding: 50px 50px 50px 50px;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}

.form_styling {
  background-color: var(--transparent);
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000000;
  background-color: rgba(228, 225, 225, 0.8);
}

.button1 {
  background-color: #262626;
  border: 1px solid beige;
  color: beige;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1:hover {
  background-color: beige;
  color: black;
}

.button2 {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.pos {
  padding: 10px 0px 00px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: left;
}

/*          Mobil version         */

@media (max-width: 750px) {
  p,
  h1 {
    text-align: left;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }

  .selskaber {
    margin: 1rem;
  }

  .selskaber_styling {
    padding: 20px 20px 40px;
  }

  .festfk {
    margin: 1rem;
  }
  .festfk_styling {
    padding: 20px 20px 40px;
  }
}

/*          Desktop version         */

@media screen and (min-width: 750px) {
  p,
  h1 {
    text-align: left;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }

  .selskaber {
    margin: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .pos {
    padding: 0px 0px 0px 0px;
  }

  .selskaber_styling {
    padding: 5px 50px;
  }

  .festfk {
    margin: 20px 40px 20px 40px;
  }

  .festfk_styling {
    padding: 20px 50px 60px;
  }

  .order {
    order: 1;
  }
}
